ahk/Maxmak - Colemak base.ahk
ahk/Maxmak - US base.ahk
uhk/UserConfiguration-20*.json
kanata/kanata_scancode_experimental.exe
kanata/kanata_winIOv2.exe
kanata/kanata.exe
kmonad/kmonad-0.4.1-win.exe
kanata/kanata.kbd
kbremap/config.toml
kmonad/colemax-maxtend.kbd
kmonad/dummy.kbd
kmonad/kmonad-colemak-dh-extend-iso.kbd
kanata/icons2/kanata.png
kanata/icons2/layers.png
kanata/icons2/maxtend.png
kanata/icons2/numtab.png
kanata/icons2/qwerty-hr.png
kanata/icons/colemak-hr.png
kanata/icons/colemak.png
kanata/icons/colerevmak.png
kanata/icons/layers.png
kanata/icons/maxtend.png
kanata/icons/numtab.png
kanata/icons/qwerty-hr.png
kanata/icons/qwerty.png
kanata/icons/spacer.png
kanata/kanata_gui.exe
